:root{
  --body-bg: #f8f8f8;
  --text-color:#696969;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
}


body {
  background-color: var(--body-bg);
  color:#696969 ;
  display: flex;
  flex-direction: column;
}